

body{
  color: white;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

nav{
  background-color: #389eaa;
}

header{
  

 

}
.carousel-indicators{
  top: 50px;
}

.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius:50%;
}

.imagenprincipal{
  width: 100%;
  height: 500px;
}

.logo{
  width: 5%;
}

.bordeazul{
  background-color: #389eaa;
}

.card{
  color: black;
}

footer{
  background-color: #389eaa;
 
 
}

.iconos{
  vertical-align: middle;
  display: inline-block;
}

